.board {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }
}

.thread {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;
  gap: var(--space-xxxs);

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }

}

.thumb {
  display: block;
  margin-top: var(--space-xs);
  padding-left: var(--space-xxxxs);
  padding-right: var(--space-xxxxs);
  border: var(--border);
  border-radius: var(--border-radius);
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-xxxxs);
  border-bottom: var(--border);
}

.post-footer {
  display: flex;
  justify-content: space-between;
  border-top: var(--border);
  padding-top: var(--space-xxxxs);
  align-items: center;
}

.post-thumb-content {
  display: flex;
  gap: var(--space-xs);
  padding-bottom: var(--space-xxxs);
  padding-top: var(--space-xxxs);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-s); // Adjust gap between fields
  max-width: 500px; // Adjust width as needed
  margin: 0 auto; // Centers the form on the page

  div {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: var(--space-xxxs); // Space between label and input
  }

  input,
  textarea {
    padding: var(--space-xxxs); // Padding inside inputs
    border: var(--border); // Border color
    border-radius: var(--border-radius); // Rounded corners
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  border: var(--border);
  padding: var(--space-xxxs);
  border-radius: var(--border-radius);
  background-color: var(--color-background-darker);
}

.thread-footer {
  display:flex;
  justify-content: space-between;
}

.votes-container {
  display: flex;
  gap: var(--space-xxxxs)
}

.block {
  display: block;
}
